@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
  --brown-800: hsl(14, 45%, 36%);
  --rose-50: hsl(330, 100%, 98%);
  --rose-800: hsl(332, 51%, 32%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --white: hsl(0, 0%, 100%);

  --spacing-300: 1.5rem;
  --spacing-150: 0.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  background-color: var(--stone-100);
}

.recipe-container {
  margin: 7.5rem auto;
  border-radius: 1.25rem;
  width: 46rem;
  background-color: var(--white);
  padding: 2.5rem;

  img {
    display: block;
    width: 100%;
    aspect-ratio: 16/7.3;
    border-radius: 0.625rem;
  }

  h1,
  h2 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
  }

  h1 {
    margin-block: var(--spacing-300);
    font-size: 2.5rem;
  }

  .description {
    margin-bottom: var(--spacing-300);
  }

  .prep-overview {
    border-radius: 0.625rem;
    background-color: var(--rose-50);
    padding: var(--spacing-300);

    .prep-overview-heading {
      color: var(--rose-800);
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: var(--spacing-300);
    }

    li::marker {
      color: var(--rose-800);
    }
  }

  ul,
  ol {
    padding-left: var(--spacing-300);

    li {
      margin-bottom: var(--spacing-150);
      padding-left: var(--spacing-150);
    }

    li::marker {
      color: var(--brown-800);
      font-weight: bold;
    }
  }

  section {
    padding: var(--spacing-300);
    border-bottom: 0.063rem solid var(--stone-150);

    h2 {
      color: var(--brown-800);
      margin-bottom: var(--spacing-300);
      font-size: 1.75rem;
    }
  }

  section:last-child {
    border: none;
  }

  table {
    width: 100%;
    margin-top: var(--spacing-300);
    border-collapse: collapse;

    tr {
      border-bottom: 0.063rem solid var(--stone-150);

      td {
        padding-left: var(--spacing-300);
      }

      td:last-child {
        color: var(--brown-800);
        line-height: 2.875rem;
      }
    }

    tr:last-child {
      border: none;
    }
  }
}

@media (max-width: 974px) {
  .recipe-container {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;

    img {
      border-radius: 0;
    }

    h1,
    .main-content {
      padding-inline: 1.875rem;
    }
  }
}
